{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

    <form method="post">
        <div class="flex flex-col items-center justify-center mt-96 lg:mt-44 xl:mt-52 2xl:mt-72">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

                <label class="lg:mt-0 md:mt-24 text-5xl lg:text-xl mb-5 text-[#918EF4]" for="username">Email</label>
                <input class="w-3/4 border-solid border-4 border-[#918EF4] text-3xl md:text-base bg-gray-300 rounded-lg p-2 lg:p-1 text-[#81A684]" type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                <label class="text-5xl lg:text-xl mb-5 mt-5 text-[#918EF4]" for="password">Password</label>
                <input class="w-3/4 border-solid border-4 border-[#918EF4] text-3xl md:text-base bg-gray-300 rounded-lg p-2 lg:p-1 text-[#81A684]" type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                <button class="mt-24 lg:mt-5 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400" type="submit" onclick="getIpPrinter()">

                    <span class=" text-white text-6xl lg:text-xl relative p-5 lg:p-2 transition-all ease-in duration-75 bg-[#918EF4] rounded-md group-hover:bg-opacity-0">
                        Connexion
                    </span>
                </button>

                <div class="flex flex-col text-center mt-20 lg:mt-4">
                    <a href="{{ path("app_register") }}" class="text-[#81A684] text-3xl lg:text-sm underline"><p class="ms-auto me-auto">Inscription</p></a>
                    <a href="#" class="text-[#81A684] text-3xl lg:text-sm lg:mt-1 mt-5"><p class="ms-auto me-auto">Mot de passe oublié ?</p></a>
                </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
        </div>
    </form>


    <script src="js/printer.js">
        
    </script>
{% endblock %}
