<h1>Salut ! Quelqu'un t'invite à rejoindre sa bôite à idée !</h1>

<p>
	Please confirm your email address and join your friend by clicking the following link:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirm my Email</a>.
</p>

<p>
	Cheers!
</p>

