{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}


        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="flex flex-col items-center justify-center mt-96 lg:mt-44 xl:mt-52 2xl:mt-56">
                {{ form_label(registrationForm.username, 'Pseudo', {'label_attr': {'class': 'lg:mt-5 md:mt-24 text-5xl lg:text-xl mb-5 text-[#918EF4]'}}) }}
                {{ form_widget(registrationForm.username, {'attr' : {'class' : 'w-3/4 border-solid border-4 border-[#918EF4] text-3xl md:text-base bg-gray-300 rounded-lg p-2 lg:p-1 text-[#81A684]'}}) }}
                {{ form_label(registrationForm.email, '', {'label_attr': {'class': 'lg:mt-5 md:mt-24 text-5xl lg:text-xl mb-5 text-[#918EF4]'}}) }}
                {{ form_widget(registrationForm.email, {'attr' : {'class' : 'w-3/4 border-solid border-4 border-[#918EF4] text-3xl md:text-base bg-gray-300 rounded-lg p-2 lg:p-1 text-[#81A684]'}}) }}
                {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'lg:mt-5 md:mt-24 text-5xl lg:text-xl mb-5 text-[#918EF4]'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr' : {'class' : 'w-3/4 border-solid border-4 border-[#918EF4] text-3xl md:text-base bg-gray-300 rounded-lg p-2 lg:p-1 text-[#81A684]'}}) }}

                <button class="mt-24 lg:mt-5 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400" type="submit" onclick="getIpPrinter()">

                    <span class=" text-white text-6xl lg:text-xl relative p-5 lg:p-2 transition-all ease-in duration-75 bg-[#918EF4] rounded-md group-hover:bg-opacity-0">
                        Je m'inscris !
                    </span>
                </button>

                <div class="flex flex-col text-center mt-20 lg:mt-4">
                    <a href="{{ path("app_login") }}" class="text-[#81A684] text-3xl lg:text-sm underline"><p class="ms-auto me-auto">J'ai déjà un compte !</p></a>
                </div>

            </div>
        {{ form_end(registrationForm) }}
{% endblock %}
