{% block body %}
		{{ form_start(formInvitation, {"attr" : {"method" : "POST", "action" : "/setting/invite"}}) }}
			{{ form_widget(formInvitation.email, {'attr' : {'class' : 'border-solid border-4 border-white text-3xl md:text-base rounded-lg p-2 lg:p-1 text-[#81A684] me-5'}}) }}
			<button type="submit" class="border-2 border-solid border-white ps-4 pe-4 rounded-xl">Inviter</button>
		{{ form_end(formInvitation) }}
{% endblock %}

