{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center mt-96 lg:mt-44 xl:mt-52 2xl:mt-56 p-3">
        <p class="mt-5 text-3xl text-[#4C3957]">Bonjour {{ app.user.username }} !</p>
        <div class="mt-28 lg:mt-5">
            <button id="dropdownBoxButton" data-dropdown-toggle="dropdownBox" data-dropdown-placement="bottom" class="mb-3 md:mb-0 text-white bg-[#918EF4] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-blue-800" type="button" onclick="viewBoxEdit()">Ma boîte<svg class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">

                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownBox" class="p-3 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 lg:w-2/4 w-full">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownBoxButton">
                    <li>
                        <p>Nom de la boîte:</p>
                        <div class="mt-3" id="boxEdit">
                        
                        </div>
                        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-white">
                    </li>
                    <li>
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <button onclick="removeBox()"class="ms-3 border-solid border-2 border-rose-500 px-5 py-2.5 rounded-lg text-white">
                                    <i class="fa-solid fa-trash text-xl ms-3"></i>
                                    <p>Supprimer ma boîte</p>
                                </button>
                            </div>
                            <div class="flex flex-col justify-center w-3/4 ms-5 text-rose-500 p-1 bg-white border-solid border-2 border-rose-500">
                                <p>Attention ! Cette action est irréversible ! Si d'autres utilisateur partage votre boîte, ceux-ci se verront attribuer une nouvelle boîte. Et vous aussi. Cette action est irréversible et vous serez déconnecter !</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <button id="dropdownRightEndButton" data-dropdown-toggle="dropdownRightEnd" data-dropdown-placement="bottom" class="mb-3 md:mb-0 text-white bg-[#918EF4] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-blue-800" type="button" onclick="viewInvite()">Utilisateurs<svg class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownRightEnd" class="p-3 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 lg:w-2/4 w-full">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRightEndButton">
                    <li>
                        <h1>Tous les utilisateurs :</h1>
                        <div class="h-1/4 overflow-y-scroll">
                            {% for user in listOwnerBox %}
                            <div class="flex flex-row border-solid border-2 border-white m-2 p-3 rounded-xl justify-around">
                                <div class="flex flex-col w-3/4">
                                    <p>{{ user.username }}</p>
                                    <p>{{ user.email }}</p>
                                </div>
                                {% if listOwnerBox | length > 1 %}
                                    <div class="flex flex-col">
                                        <button  type="button" id="removeOwner_{{ user.id }}" onclick="removeOwner({{ user.id }})">
                                            <i class="fa-solid fa-trash text-red-600 border-solid border-[#918EF4] border-2 p-3 rounded-xl"></i>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-white">

                    </li>
                    <li>
                        <h1>Inviter un utilisateur :</h1>
                        <div class="flex flex-row w-full" id="inviteUserContent">
                        
                        </div>
                        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-white">
                    </li>
                    <li>
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <button id="removeAccount_{{ app.user.id }}" onclick="removeAccount({{ app.user.id }})"class="ms-3 border-solid border-2 border-rose-500 px-5 py-2.5 rounded-lg text-white">
                                    <i class="fa-solid fa-trash text-xl ms-3"></i>
                                    <p>Supprimer mon compte</p>
                                </button>
                            </div>
                            <div class="flex flex-col justify-center w-3/4 ms-5 text-rose-500 p-1 bg-white border-solid border-2 border-rose-500">
                                <p>Attention ! Cette action est irréversible ! Si d'autres utilisateur partage votre boîte, celle-ci perdurera grâce à eux. Cependant si vous êtes tout seul, elle sera définitivement supprimée, sans possibilités de récupération et vous serez déconnecter !</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <button id="dropdownPrintButton" data-dropdown-toggle="dropdownPrint" data-dropdown-placement="bottom" class="mb-3 md:mb-0 text-white bg-[#918EF4] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-blue-800" type="button">Imprimante<svg class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">

                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownPrint" class="p-3 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 lg:w-2/4 w-full">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownPrintdButton">
                    <li>
                        <h1>Lier une imprimante :</h1>
                        <div>
                            <div class="border-solid border-2 border-white m-2 p-3 rounded-xl">
                                {% if ipPrinter != "null" %}
                                    <p>Boîte lier à l'utilitaire {{ ipPrinter }}</p>
                                {% else %}
                                    <p>La boîte n'est lié à aucun utilitaire. Télécharger le dans un dossier seul et démarer le pour commencer à associer une imprimante (Attention cette fonctionnalité n'est prévu que pour des imprimantes thermique, question de mise en page.)</p>
                                {% endif %}
                                
                            </div>
                            <br/><p>Pour lier une imprimante, sélectionner le fichier "fileToUpload.txt" générer par l'utilitaire télécharger.</p>
                            <input type="file" id="pythonUtils"/>
                            <button class="border-2 border-solid border-white ps-4 pe-4 rounded-xl" onclick="getUtilsPath()">
                                Lier
                            </button>

                            <br/><button class="mt-5 border-2 border-solid border-white ps-4 pe-4 rounded-xl" onclick="getUtilsPath()">
                                Télécharger l'utilitaire d'impression
                            </button>
                        </div>
                        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-white">

                    </li>
                    <li>
                        <h1>Imprimer par défaut:</h1>
                        <p class="mt-2">Coché cette option pour imprimer automatiquement une idée après sa création.</p>
                        <div class="mt-5">
                            {% if app.user.getIdeaBox.defaultPrint %}
                                <input type="checkbox" id="defaultPrint" name="defaultPrint" checked/>
                            {% else %}
                                <input type="checkbox" id="defaultPrint" name="defaultPrint" />
                            {% endif %}
                            <label for="defaultPrint">Impression par défaut</label>
                        </div>
                    </li>
                </ul>
            </div>

            <a href='{{ path("app_logout") }}' class="ms-3 border-solid border-2 border-[#918EF4] px-5 py-2.5 rounded-lg text-[#4C3957]">Se déconnecter
                <i class="fa-solid fa-right-from-bracket text-xl ms-3"></i>
            </a>
        </div>
    </div>

    <script src="js/printer.js"></script>
    <script src="js/userManager.js"></script>
    <script src="js/boxManager.js"></script>
{% endblock %}
