{% extends 'base.html.twig' %}

{% block title %}Ma boîte{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center mt-96 lg:mt-44 xl:mt-52 2xl:mt-56">
        <div class="flex flex-row text-center text-white mt-32 lg:mt-14 xl:mt-14 text-4xl lg:text-xl">
            <div class="flex flex-col border-r-2 border-solid border-r-white p-5 hover:text-[#81A684] focus" id="boxIdea">
                <i class="fa-solid fa-box"></i>
                <p>Mes idées</p>
            </div>
            <div class="flex flex-col border-l-2 border-solid border-l-white p-5 hover:text-[#81A684] notFocus" id="boxTag">
                <i class="fa-solid fa-tag"></i>
                <p>Mes catégories</p>
            </div>
        </div>

        <div class="h-[50vh] lg:h-[20vh] mt-10 border-solid border-r-2 border-l-2 border-white w-3/4 overflow-y-scroll p-5" id="boxContent">
        
        </div>
    </div>

    <script src="js/ideaManager.js"></script>
    <script src="js/tagManager.js"></script>

{% endblock %}
