{% block body %}
	{{ form_start(renameForm, {"attr" : {"method" : "POST", "action" : "/box/rename"}}) }}
	<div class="flex flex-row items-center text-center">
		{{ form_widget(renameForm.box_name, {'attr' : {'class' : 'border-solid border-4 border-white text-3xl md:text-base rounded-lg p-2 lg:p-1 text-[#81A684] me-5', 'placeholder' : app.user.ideaBox.boxName }}) }}

		<button type="submit" class="border-2 border-solid border-white ps-4 pe-4 rounded-xl">Changer le nom</button>
	</div>
	{{ form_end(renameForm) }}

{% endblock %}
