{% extends 'base.html.twig' %}

{% block title %}J'ai une idée !{% endblock %}

{% block body %}

    {{ form_start(formIdea) }}
        <div class="flex flex-col items-center justify-center mt-96 lg:mt-44 xl:mt-52 2xl:mt-56">
            {{ form_label(formIdea.idea_tag_id, "Sa catégorie", {'label_attr': {'class': 'lg:mt-5 md:mt-24 text-5xl lg:text-xl mb-5 text-[#918EF4]'}}) }}
            {{ form_widget(formIdea.idea_tag_id, {'attr' : {'class' : 'w-3/4 border-solid border-4 border-[#918EF4] text-3xl md:text-base bg-gray-300 rounded-lg p-2 lg:p-1 text-[#81A684]'}}) }}
            {{ form_label(formIdea.idea_name, "L'idée", {'label_attr': {'class': 'lg:mt-5 md:mt-24 text-5xl lg:text-xl mb-5 text-[#918EF4]'}}) }}
            {{ form_widget(formIdea.idea_name, {'attr' : {'class' : 'w-3/4 border-solid border-4 border-[#918EF4] text-3xl md:text-base bg-gray-300 rounded-lg p-2 lg:p-1 text-[#81A684]'}}) }}
            <button class="mt-24 lg:mt-5 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400" type="submit" onclick="getIpPrinter()">

                <span class=" text-white text-6xl lg:text-xl relative p-5 lg:p-2 transition-all ease-in duration-75 bg-[#918EF4] rounded-md group-hover:bg-opacity-0">
                    J'ai une idée !
                </span>
            </button>
        </div>

    {{ form_end(formIdea) }}

{% endblock %}
