{% block body %}
    <div class="flex flex-col w-full text-start">
        {% for idea in ideaInBox %}
            <div class="flex flex-row border-2 bg-white border-[#918EF4] border-solid w-3/4 lg:w-2/4 ms-auto me-auto rounded-xl p-2 mb-3 justify-between">
                <div class="flex flex-col text-[#4C3957]">
                    <h1 class="font-bold text-2xl">{{ idea.ideaTagId.tagName}}</h1>
                    <h3 class="text-xl">{{ idea.ideaName}}</h3>
                </div>
                <div class="flex flex-row mt-auto mb-auto text-2xl me-5">
                    <button  type="button" id="removeIdea_{{ idea.id }}" onclick="removeIdea({{ idea.id }})">
                        <i class="fa-solid fa-trash text-red-600 border-solid border-[#918EF4] border-2 p-3 rounded-xl"></i>
                    </button>
                    {% if app.user.ideaBox.isPrintable %}
                        <button type="button" id="printIdea_{{ idea.id }}" onclick="printIdea({{ idea.id }})" >
                            <i class="fa-solid fa-print text-[#81A684] ms-10 border-solid border-[#918EF4] border-2 p-3 rounded-xl"></i>
                        </button>
                    {% endif %}
                    
                </div>
            
            </div>
        {% endfor %}
    </div>

{% endblock %}