{% block body %}
    <div class="mt-1 w-full">
        <hr class="h-px my-3 bg-black border-0 dark:bg-black">
        <div class="flex flex-row justify-between">
            <p class="ms-2 text-lg text-[#4C3957]">{{ random_idea.ideaName}}</p>

            <div class="flex flex-row mt-auto mb-auto text-2xl me-5">
                <button type="button" id="removeIdea_{{ random_idea.id }}" onclick="removeIdea({{ random_idea.id }})">
                    <i class="fa-solid fa-trash text-red-600 border-solid border-[#918EF4] border-2 p-3 rounded-xl"></i>
                </button>
                <button type="button" id="closeRandom" onclick="closeRandomTag({{ random_idea.ideaTagId.id }})">
                    <i class="fa-solid fa-xmark text-[#81A684] ms-10 border-solid border-[#918EF4] border-2 p-3 rounded-xl"></i>
                </button>
            </div>
        
        </div>

    </div>
{% endblock %}