<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('media/logo.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" type="text/css" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/d8068975b7.js" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
            

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="absolute flex flex-row justify-center w-full top-0 text-center">
        <h1 class="w-3/6 justify-center z-10 text-6xl lg:text-2xl absolute top-1/2 text-[#81A684]">{{ app.user ? app.user.getIdeaBox.getBoxName : "La boîte à idée"}}</h1>

            <img class="lg:w-1/5 mt-10 z-0" src="{{ asset('media/logo.png') }}" alt="Logo du site">
        </div>


        {% block body %}{% endblock %}

        <div class="fixed bottom-0 w-full">
            {% if app.user %}
                <nav class="ms-auto me-auto w-3/4 lg:w-1/4 flex md:justify-between justify-around lg:text-base text-2xl text-center bg-[#4C3957] p-2 rounded-xl text-white">
                    <a href="{{ path('app_box') }}">
                        <div class="flex flex-col border-white border-solid border-2 p-1 ps-3 pe-3 rounded-xl hover:bg-[#81A684]">
                            <i class="fa-solid fa-box"></i>
                            <p>Ma boîte</p>
                        </div>
                    </a>
                    <a href="{{ path('app_idea_add') }}">
                        <div class="flex flex-col border-white border-solid border-2 p-1 ps-3 pe-3 rounded-xl hover:bg-[#81A684]">
                            <i class="fa-solid fa-house"></i>
                            <p>Accueil</p>
                        </div>
                    </a>
                    <a href="{{ path('app_setting') }}">
                        <div class="flex flex-col border-white border-solid border-2 p-1 ps-3 pe-3 rounded-xl hover:bg-[#81A684]">
                            <i class="fa-solid fa-gear"></i>
                            <p>Paramètres</p>
                        </div>
                    </a>
                </nav>
            {% endif %}
            

            <div class="w-full justify-center">
                <img class="h-full md:h-52 xl:h-60 w-full" src="{{ asset('media/background_flower.jpg') }}" alt="arrière plan fleurie">
            </div>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    </body>
</html>
