{% block body %}
    {{ form_start(formTag, {"attr" : {"method" : "POST", "action" : "/tag/add"}}) }}
        <div class="flex flex-row items-center text-center">
                {{ form_widget(formTag.tag_name, {'attr' : {'class' : 'w-3/4 border-solid border-4 border-[#918EF4] text-3xl md:text-base bg-gray-300 rounded-lg p-2 lg:p-1 text-[#81A684] me-5'}}) }}
                
                <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden rounded-xl group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400" type="submit" onclick="getIpPrinter()">

                    <span class=" text-white text-3xl lg:text-xl relative p-5 lg:p-2 transition-all ease-in duration-75 bg-[#918EF4] rounded-md group-hover:bg-opacity-0">
                        Créer la catégorie !
                    </span>
                </button>
        </div>
    {{ form_end(formTag) }}

{% endblock %}
