
{% block body %}
    <div class="flex md:flex-row sm:flex-col w-full justify-center text-center items-center">
        <div class="flex flex-col me-5 mb-3" id="addTagBtn">

            <button class="bg-[#918EF4] hover:bg-[#81A684] rounded-xl p-3 text-white" onclick="addTag()" >
                <i class="text-3xl fa-solid fa-plus"></i>
                <p class="text-sm">Nouvelle catégorie</p>
            </button>
        </div>
        <div class="align-top" id="addTagContent">
        
        </div>
    </div>
    <div class="flex flex-col w-full text-start">
        {% for tag in tagInBox %}
        <div class="flex flex-col border-2 bg-white border-[#918EF4] border-solid w-3/4 lg:w-2/4 ms-auto me-auto rounded-xl p-2 mb-3">
            <div class="flex flex-row  justify-between">
                <div class="flex flex-row justify-between w-full text-[#4C3957] ps-3 pe-3">
                    <h1 class="font-bold text-2xl mt-auto mb-auto">{{ tag.tagName }}</h1>
                    <h3 class="text-xl mt-auto mb-auto text-[#81A684]">{{ tag.ideas | length}}</h3>
                </div>
                <div class="flex flex-row mt-auto mb-auto text-2xl me-5">
                    <button  type="button" id="removeTag_{{ tag.id }}" onclick="removeTag({{ tag.id }})">
                        <i class="fa-solid fa-trash text-red-600 border-solid border-[#918EF4] border-2 p-3 rounded-xl"></i>
                    </button>
                    <button  type="button" id="randomTag_{{ tag.id }}" onclick="randomTag({{ tag.id }})">
                        <i class="fa-solid fa-shuffle text-[#81A684] ms-10 border-solid border-[#918EF4] border-2 p-3 rounded-xl"></i>
                    </button>
                </div>
            </div>
            <div class="flex flex-row" id="randomTagContent_{{ tag.id }}">
            
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
